.footer-container {
    padding: var(--small-padding);
    margin: 10px;
    border-radius: 5px;
    background-color: var(--component-bg);
    color: var(--light-bg-text);
    display: flex;
    justify-content: center;
    align-items: center;
}