@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(20px);
    }
}

.overlay-notice-container {
    position: fixed;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.entering {
    animation: fadeInUp 0.3s ease-in-out forwards;
}

.exiting {
    animation: fadeOutDown 0.3s ease-in-out forwards;
}

.overlay-notice-content {
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
    text-align: left;
    height: min-content;

}

/* Background colors based on type */
.overlay-notice-success {
    background-color: #4caf50;
}

.overlay-notice-error {
    background-color: #f44336;
}

.overlay-notice-info {
    background-color: #2196f3;
}

.overlay-notice-button {
    margin-top: 10px;
    background-color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

/* Button text color based on content background */
.overlay-notice-success .close-button {
    color: #4caf50;
}

.overlay-notice-error .close-button {
    color: #f44336;
}

.overlay-notice-info .close-button {
    color: #2196f3;
}