.seats {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    gap: 5px;
    width: min-content;
}

.seat {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 2px;
}

.seat:not(.filler) {
    cursor: pointer;
}

.filler {
    background: transparent;
    border: none;
}

.regular {
    background: #e0e0e0;
}

.vip {
    background: #ffcc00;
}

.selected {
    background: #ff0000;
}

.unavailable {
    background: #808080;
}