.receipt {
    height: 100%;
    white-space: nowrap;
    max-width: 30vw;
    width: 30%;
}

.confirm-receipt {
    background-color: #cccccc21;
    padding: 10px;
    margin: 5px;
}

.receipt-confirm-modal {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #cccccc21;
}

.receipt-modal-confirm-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #cccccc21;
}

.confirm-inputs {
    width: 100%;
    height: 100%;
}

.receipt-modal-confirm-container .receipt-item {
    height: 100%;
    width: 100%;
}

.receipt-sum {
    padding-right: 20px;
}