:root {
  --main-col: #333;
  --main-bg: #f4f4f4;
  --link-hover: #f39c12;
  --dark-bg-text: #2c3e50;
  --light-bg-text: #ecf0f1;
}

.header-filler {
  height: 300px;
  background-color: var(--main-col);
}